.group-child34 {
  position: absolute;
  top: 75.95px;
  left: 91.6px;
  background-color: var(--color-peachpuff);
  width: 447.97px;
  height: 562.05px;
}
.portrait-cheerful-young-man-sm-icon1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 553px;
  height: 637px;
  object-fit: cover;
}
.cursos-online-child,
.group-child35 {
  position: absolute;
  top: 0;
  left: 0;
  width: 574px;
  height: 638px;
}
.group-child35 {
  border-radius: var(--br-base);
  background-color: var(--color-honeydew);
  width: 85.72px;
  height: 70px;
}
.play-presentation-24-outli4 {
  position: absolute;
  top: 17px;
  left: 20.82px;
  width: 44.09px;
  height: 36px;
  overflow: hidden;
}
.flexibilidade-de-horrios2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 313.5px;
}
.flexibilidade-de-horrios-para-frame {
  position: absolute;
  top: 132px;
  left: 0;
  width: 313.5px;
  height: 60px;
}
.rectangle-parent33,
.rectangle-parent34 {
  position: absolute;
  top: 119px;
  left: 10.67px;
  width: 313.5px;
  height: 192px;
}
.rectangle-parent34 {
  top: 386px;
}
.acesso-a-contedo1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 329.42px;
}
.acesso-a-contedo-diversificad-container {
  position: absolute;
  top: 132px;
  left: 0;
  width: 329.42px;
  height: 60px;
}
.rectangle-parent35,
.rectangle-parent36 {
  position: absolute;
  top: 119px;
  left: 424.58px;
  width: 329.42px;
  height: 192px;
}
.rectangle-parent36 {
  top: 386px;
}
.cursos-online4 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-25xl);
  letter-spacing: -0.01em;
  line-height: 56px;
  font-weight: 800;
  font-family: var(--font-inter);
  display: inline-block;
  width: 527.8px;
}
.group-child39,
.group-parent5 {
  position: absolute;
  top: 29px;
  left: 587px;
  width: 754px;
  height: 578px;
}
.group-child39 {
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--white);
  box-shadow: 0 20px 35px -5px rgba(0, 0, 0, 0.03);
  width: 287.02px;
  height: 639.97px;
}
.div3 {
  position: absolute;
  top: 325px;
  left: 30.07px;
  letter-spacing: -0.01em;
  line-height: 22px;
  display: inline-block;
  width: 79.73px;
  height: 36.1px;
}
.iconlybold3-user4 {
width: 17.595px;
height: 16.588px;
flex-shrink: 0;
}
.meses4,
.parent1 {
  position: absolute;
  top: 139.53px;
  left: 19.46px;
  width: 106.27px;
  height: 364.54px;
}
.meses4 {
  top: 326.03px;
  left: 29.45px;
  letter-spacing: -0.01em;
  line-height: 22px;
  display: inline-block;
  width: 79.73px;
  height: 36.1px;
}
.iconlyboldtime-circle4 {
  position: absolute;
  height: 5.5%;
  width: 19.34%;
  top: 0;
  right: 80.66%;
  bottom: 94.5%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.meses-parent1 {
  position: absolute;
  top: 138.36px;
  left: 136.38px;
  width: 109.18px;
  height: 362.13px;
  color: var(--color-black);
}
.fundamentos-da-programao1 {
  position: absolute;
  top: 323.32px;
  left: 15.83px;
  font-size: var(--font-size-xl);
  letter-spacing: -0.01em;
  line-height: 26px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  display: inline-block;
  width: 271.07px;
  height: 134.25px;
}
.image-icon7 {
  position: absolute;
  top: 19.69px;
  left: 15.95px;
  border-radius: var(--br-xs);
  width: 255.13px;
  height: 270.76px;
  object-fit: cover;
}
.adicionar4 {
  position: absolute;
  top: 345.41px;
  left: 28.78px;
  letter-spacing: -0.01em;
  line-height: 22px;
  display: inline-block;
  width: 80.79px;
  height: 36.1px;
}
.iconlyboldbuy-parent1 {
  position: absolute;
  height: 97.68%;
  width: 42.95%;
  top: 0;
  right: 28.33%;
  bottom: 2.32%;
  left: 28.72%;
}
.group-child40 {
  position: absolute;
  top: 324.45px;
  left: -0.5px;
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-orange-200);
  box-sizing: border-box;
  width: 256.13px;
  height: 66.64px;
}
.group-parent6 {
  position: absolute;
  height: 61.03%;
  width: 88.89%;
  top: 33.84%;
  right: 5.56%;
  bottom: 5.13%;
  left: 5.56%;
  cursor: pointer;
  color: var(--color-darkorange);
  font-family: var(--font-inter);
}
.rectangle-parent37 {
  position: absolute;
  top: 0.66px;
  left: 0;
  width: 287.02px;
  height: 639.97px;
  font-family: var(--font-roboto);
}
.group-child42 {
  position: absolute;
  top: 325.38px;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-orange-100);
  width: 255.13px;
  height: 65.64px;
}
.adicionar5 {
  position: absolute;
  top: 345.41px;
  left: 28.78px;
  letter-spacing: -0.01em;
  line-height: 22px;
  display: inline-block;
  width: 80.79px;
  height: 36.1px;
}
.iconlyboldbuy-parent2 {
  position: absolute;
  height: 97.77%;
  width: 46.8%;
  top: 0;
  right: 25.05%;
  bottom: 2.23%;
  left: 28.16%;
}
.rectangle-parent39 {
  position: absolute;
  top: 216.13px;
  left: 15.95px;
  width: 255.13px;
  height: 391.01px;
  cursor: pointer;
  color: var(--color-black);
}
.div4 {
  position: absolute;
  top: 325px;
  left: 30.07px;
  letter-spacing: -0.01em;
  line-height: 22px;
  display: inline-block;
  width: 79.73px;
  height: 36.1px;
}
.iconlybold3-user5 {
  position: absolute;
  height: 5.51%;
  width: 19.23%;
  top: 0;
  right: 80.77%;
  bottom: 5%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.meses5,
.parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 109.8px;
  height: 361.1px;
}
.meses5 {
  top: 327px;
  left: 33.92px;
  letter-spacing: -0.01em;
  line-height: 22px;
  display: inline-block;
  width: 79.73px;
  height: 36.1px;
}
.iconlyboldtime-circle5 {
  position: absolute;
  height: 5.48%;
  width: 18.58%;
  top: 0;
  right: 81.42%;
  bottom: 94.52%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.group-parent7,
.meses-parent2 {
  position: absolute;
  height: 363.1px;
}
.meses-parent2 {
  top: 0;
  left: 122.15px;
  width: 113.65px;
  color: var(--color-black);
}
.group-parent7 {
  top: 147.34px;
  left: 11.31px;
  width: 235.8px;
  font-family: var(--font-roboto);
}
.gesto-de-projetos1 {
  position: absolute;
  top: 316.03px;
  left: 14.9px;
  font-size: var(--font-size-xl);
  letter-spacing: -0.01em;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  width: 282.94px;
  height: 148.84px;
}
.image-icon8 {
  position: absolute;
  top: 19.69px;
  left: 14.88px;
  border-radius: var(--br-xs);
  width: 255.13px;
  height: 270.76px;
  object-fit: cover;
}
.rectangle-parent38 {
  position: absolute;
  top: 0.66px;
  left: 405.62px;
  width: 297.84px;
  height: 639.97px;
  color: var(--color-gray-100);
}
.adicionar6 {
  position: absolute;
  top: 346.21px;
  left: 40.43px;
  letter-spacing: -0.01em;
  line-height: 22px;
  display: inline-block;
  width: 80.79px;
  height: 36.1px;
}
.iconlyboldbuy-parent3 {
  position: absolute;
  height: 59.74%;
  width: 42.23%;
  top: 33.88%;
  right: 31.08%;
  bottom: 6.39%;
  left: 26.68%;
  color: var(--color-darkorange);
}
.div5,
.iconlybold3-user6 {
  position: absolute;
  cursor: pointer;
}
.div5 {
  top: 325.6px;
  left: 36.06px;
  letter-spacing: -0.01em;
  line-height: 22px;
  display: inline-block;
  width: 58px;
  height: 17px;
}
.iconlybold3-user6 {
  height: 5.99%;
  width: 22.45%;
  top: 0;
  right: 77.55%;
  bottom: 94.01%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent3 {
  position: absolute;
  top: 138.4px;
  left: 22.96px;
  width: 94.06px;
  height: 342.6px;
  font-family: var(--font-roboto);
}
.meses6 {
  position: absolute;
  top: 323.8px;
  left: 33.96px;
  letter-spacing: -0.01em;
  line-height: 22px;
  display: inline-block;
  width: 82.44px;
  height: 13.33px;
}
.iconlyboldtime-circle6 {
  position: absolute;
  height: 5.19%;
  width: 18.57%;
  top: 0;
  right: 81.43%;
  bottom: 94.81%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.meses-parent3 {
  position: absolute;
  top: 139.2px;
  left: 153.06px;
  width: 116.4px;
  height: 337.12px;
  font-family: var(--font-roboto);
}
.aprendendo-ingls-atravs1 {
  position: absolute;
  top: 316.7px;
  left: 15.95px;
  font-size: var(--font-size-xl);
  letter-spacing: -0.01em;
  line-height: 26px;
  font-weight: 600;
  color: var(--color-gray-100);
  display: inline-block;
  width: 257.25px;
  height: 85.33px;
}
.group-child44 {
  position: absolute;
  top: 542.65px;
  left: 13.32px;
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-orange-100);
  box-sizing: border-box;
  width: 256.13px;
  height: 66.64px;
  cursor: pointer;
}
.how-it-works1,
.rectangle-parent40 {
  position: absolute;
  top: 0;
  left: 755.98px;
  width: 287.02px;
  height: 639.97px;
  color: var(--color-black);
}
.how-it-works1 {
  top: 965px;
  left: 180px;
  width: 1111px;
  height: 645px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}
.cursos-online3,
.vector-icon16 {
  position: absolute;
  top: 194px;
  left: -10px;
  width: 1341px;
  height: 1610px;
}
.vector-icon16 {
  height: 56.67%;
  width: 19.64%;
  top: 65.93%;
  right: 79.6%;
  bottom: -22.6%;
  left: 0.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon17,
.vector-icon18 {
  position: absolute;
  top: 2450.83px;
  left: 1144.19px;
  width: 296.81px;
  height: 163.17px;
}
.vector-icon18 {
  top: 2134.83px;
  left: 1215.19px;
  width: 225.81px;
  height: 479.17px;
}
.body1 {
  position: absolute;
  top: calc(50% - 1307px);
  left: -11px;
  background-color: var(--color-gray-200);
  width: 1441px;
  height: 2614px;
  overflow: hidden;
  font-size: var(--font-size-lg);
}
.logo2-1-icon2 {
  position: absolute;
  top: 5px;
  left: 81px;
  width: 136px;
  height: 77px;
  object-fit: cover;
}
.pagina-inicial1 {
  cursor: pointer;
}
.cursos-online5,
.pagina-inicial1 {
  position: relative;
  text-transform: capitalize;
}
.cursos-online-container,
.nav-links1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cursos-online-container {
  overflow-x: auto;
  justify-content: center;
  cursor: pointer;
}
.nav-links1 {
  position: absolute;
  top: 34px;
  left: 302px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-base);
}
.button3 {
  position: relative;
  text-transform: uppercase;
}
.statesecondary2 {
  position: absolute;
  top: 30px;
  left: 796px;
  border-radius: var(--br-981xl);
  border: 1px solid var(--color-orange-100);
  box-sizing: border-box;
  width: 114px;
  height: 26px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-orange-100);
  font-family: var(--font-arimo-hebrew-subset);
}
.icon1 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.search-box1 {
  position: absolute;
  top: 20px;
  left: 1054px;
  background-color: var(--color-darkslategray);
  width: 275px;
  height: 36px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-37xl) var(--padding-xs)
    var(--padding-21xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  cursor: pointer;
}
.navs1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1452px;
  height: 84px;
  overflow: hidden;
  color: var(--white);
  font-family: var(--font-inter);
}
.expandindo-mentes-conectando1 {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 458px);
  color: var(--color-orange-200);
  display: inline-block;
  width: 672px;
}
.contact-us2 {
  position: relative;
}
.button4 {
  position: absolute;
  top: calc(50% + 24px);
  left: calc(50% - 230px);
  border-radius: var(--br-11xl);
  background-color: var(--color-orange-200);
  width: 203px;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-7xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
}
.social-icon6,
.social-icon7 {
  position: relative;
  width: 64px;
  height: 64px;
}
.social-icon7 {
  overflow: hidden;
  flex-shrink: 0;
}
.social-group {
  position: absolute;
  top: calc(50% + 138px);
  left: calc(50% - 356px);
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.all-rights-reserved1 {
  position: absolute;
  top: -21.02%;
  left: 0;
  font-weight: 500;
}
.copyright1 {
  position: absolute;
  top: calc(50% + 200px);
  left: calc(50% + 162px);
  width: 296px;
  height: 11px;
  text-align: left;
  font-size: var(--font-size-xs);
}
.logo2-1-icon3 {
  position: absolute;
  top: calc(50% - 187px);
  left: calc(50% - 229px);
  width: 214px;
  height: 147px;
  object-fit: cover;
}
.footer1 {
  position: absolute;
  top: calc(50% + 896px);
  left: calc(50% - 344px);
  width: 916px;
  height: 374px;
  text-align: center;
  color: var(--color-lavenderblush);
}
.cursosgeral {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 2614px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-orange-100);
  font-family: var(--font-roboto);
}
